<h1>Estimated Max Heart Rate Results</h1>


<p>For your inputted age of: <%= @result.age %>, your results are:</p>

<p><b>Fox and Haskell: </b><%= @result.fox_and_haskell %> bpm</p>
<p><b>Londeree and Moeschberger: </b><%= @result.londeree_and_moeschberger %> bpm</p>
<p><b>Miller et al: </b><%= @result.miller_et_al %> bpm</p>
<p><b>Gellish et al: </b><%= @result.gellish_et_al %> bpm</p>
<p><b>Whyte et al: </b><%= @result.whyte_et_al %> bpm</p>
<p><b>Tanaka et al: </b><%= @result.tanaka_et_al %> bpm</p>
<p><b>Stevens Creek: </b><%= @result.stevens_creek %> bpm</p>


</br>
</br>
<p>This is an estimate of your max heart rate as prescribed by different methodologies. I am not a doctor,
this is not medical advice. Every person is different. You should test to determine YOUR maximum heart rate. 
You should consult a doctor before beginning any exercise program.</p>